:root{
    --cor-fundo: #fff8bc ;
    --cor-destaque: #430000;
    --cor-texto: #000000;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    min-height: 100vh;
}

h1{
    color: var(--cor-destaque);
}
